<div class="add-payment-method" *transloco="let t">
	<p class="title" *ngIf="!data">Add payment method</p>
	<p class="title" *ngIf="data">Edit payment method</p>

	<form errorTailor (ngSubmit)="submit()" [formGroup]="formGroup">
		<div class="input-container">
			<input
				b2bNgxInput
				[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
				[label]="t('LABELS.CARD_NUMBER')"
				formControlName="cardNum" />
		</div>
		<div class="inputs-container">
			<div class="input-container" *ngIf="!data">
				<input
					b2bNgxInput
					[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
					[label]="t('LABELS.POST_CODE')"
					formControlName="expDate" />
			</div>
			<div class="input-container">
				<input
					b2bNgxInput
					[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
					[label]="t('LABELS.CVV')"
					formControlName="cardCode" />
			</div>
		</div>

		<button b2bNgxButton class="save" [theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">Save</button>
	</form>
</div>
