<div class="reset-password" *transloco="let t">
	<form errorTailor (ngSubmit)="sendMessage(formControl)">
		<h1>{{ t("RESET_PASSWORD.CREATE") }}</h1>
		<input
			type="password"
			b2bNgxInput
			[placeholder]="t('PLACEHOLDERS.NEW_PASSWORD')"
			[formControl]="formControl"
			[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY" />
		<p [@fadeInOut] class="auth-register-individual-account__main-input-error" *ngIf="formControl.errors?.password">
			{{ t("ERRORS.PASSWORD") }}
		</p>
		<button b2bNgxButton type="submit" [theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">
			{{ t("RESET_PASSWORD.SAVE") }}
		</button>
	</form>
</div>
