<div class="wrapper">

	<h1 class="title">Basic info</h1>

	<form *transloco="let t" [formGroup]="form" (ngSubmit)="send()">
	<input
		type="text"
		id="fullName"
		name="fullName"
		b2bNgxInput
		[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
		[label]="t('LABELS.FULL_NAME')"
		labelClass="auth-register-individual-account__main-input"
		[placeholder]="t('PLACEHOLDERS.YOUR_FULL_NAME')"
		formControlName="fullName" />

	<p class="auth-register-individual-account__main-input-error"
		 *ngIf="form.get('fullName').errors?.fullName">
		{{ t("ERRORS.USER_ENGLISH_NAME") }}
	</p>

	<p class="auth-register-individual-account__main-input-error"
		 *ngIf="form.get('fullName').errors?.latin && !form.get('fullName').errors?.fullName">
		{{ t("ERRORS.USER_ENGLISH_LETTERS") }}
	</p>

	<b2b-ngx-tel
		[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
		class="auth-register-individual-account__main-input"
		[errors]="form.get('phone').errors"
		formControlName="phone">
		{{ t("LABELS.PHONE") }}
	</b2b-ngx-tel>

	<input
		type="company"
		id="company"
		name="company"
		b2bNgxInput
		[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
		[label]="t('LABELS.COMPANY_NAME')"
		labelClass="auth-register-individual-account__main-input"
		[placeholder]="t('PLACEHOLDERS.COMPANY_NAME')"
		formControlName="company" />


	<p class="auth-register-individual-account__main-input-error" *ngIf="form.get('company').errors?.latin">
		{{ t("ERRORS.USER_ENGLISH_LETTERS") }}
	</p>

	<b2b-ngx-country-select
		[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
		class="auth-register-individual-account__main-input"
		placeholder="Select Country"
		formControlName="country"
	>Company’s country
	</b2b-ngx-country-select>

	<button
		b2bNgxButton
		[disabled]="form.invalid"
		[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"
		class="auth-register-individual-account__create-account-button"
		type="submit">
		{{ t("BUTTONS.CREATE_ACCOUNT") }}
	</button>
</form>
</div>
