.overlay-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1100;
	transition: 1s;

	.backdrop {
		position: fixed;
		height: 100vh;
		width: 100vw;

		.close-btn {
			position: absolute;
			right: 10px;
		}

		.content {
			width: 100%;
			min-height: 80vh;
			position: absolute;
			background-color: #fff;
			bottom: 0;

			.modal-header {
				display: flex;
				justify-content: space-between;
				width: 90%;
				margin: 20px auto;
			}

			.modal-footer {
				display: flex;
				justify-content: space-between;
				position: absolute;
				bottom: 0;
				width: 90%;
				left: 5%;

				&__btn {
					display: flex;
					justify-content: center;
					width: 48%;
					padding: 20px 0;
				}
			}
		}
	}
}

.accordion-wrapper {
	display: block;
	padding: 10px 0;
	transition: 0.3s;

	&__checkbox:hover {
		transition: 0.3s;
		background-color: #f3f6f8;
	}
}

mat-expansion-panel {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

:host {
	::ng-deep {
		.mat-expansion-panel {
			box-shadow: none;
		}
		.mat-expansion-panel-body {
			padding-bottom: 0;
		}
	}
}
