<div class="overlay-container" [@slideInOut]="animationState">
	<div class="backdrop" #backdrop>
		<div class="content">
			<div class="modal-header">
				<div>
					<h2>Filters</h2>
				</div>
				<button (click)="toggleShowPopUp()">
					<img b2bNgxIcon name="close" />
				</button>
			</div>
			<form [formGroup]="form">
				<mat-accordion class="accordion-wrapper">
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title> Product categories</mat-panel-title>
						</mat-expansion-panel-header>
<!--						<b2b-categories-dialog formControlName="categories[]" [disableClose]="true" [required]="false">-->
<!--						</b2b-categories-dialog>-->
					</mat-expansion-panel>
					<mat-expansion-panel [ngStyle]="{'overflow': 'visible'}">
						<mat-expansion-panel-header>
							<mat-panel-title> Suppliers country</mat-panel-title>
						</mat-expansion-panel-header>
						<div class="select">
							<b2b-ngx-country-select
								formControlName="country"
								placeholder="Enter country"
								(openSelect)="openCountrySelect()"
								(closeSelect)="closeCountrySelect()"
								[class.mb-4]="isCountrySelectOpen$ | async"
								[class.d-block]="isCountrySelectOpen$ | async">
							</b2b-ngx-country-select>
						</div>
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title> Suppliers type</mat-panel-title>
						</mat-expansion-panel-header>
						<!--						TODO: specify to BE about a few suppliers type-->
						<div class="px-2 py-2 accordion-wrapper__checkbox">
							<b2b-ngx-checkbox>Manufacturer</b2b-ngx-checkbox>
						</div>
						<div class="px-2 py-2 accordion-wrapper__checkbox">
							<b2b-ngx-checkbox>Trader</b2b-ngx-checkbox>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</form>
			<div class="modal-footer">
				<button
					(click)="clearFilters()"
					b2bNgxButton
					[theme]="b2bNgxButtonThemeEnum.OUTLINE_GRAY"
					class="modal-footer__btn">
					<img b2bNgxIcon name="delete" class="d-block mx-2" />
					<div>Clear all</div>
				</button>
				<button
					(click)="applyFilters()"
					b2bNgxButton
					[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"
					class="modal-footer__btn">
					Filter
				</button>
			</div>
		</div>
	</div>
</div>
