<div class="dialog" *transloco="let t">
	<div class="dialog-left">
	</div>

	<div class="dialog-right">
		<p class="tracking-details">{{ t("TRACKING.TITLE") }}</p>
		<p class="type" *ngIf="isAuth">
			{{ t("TRACKING.TYPE") }}:
			{{ t("OFFER." + (data.transportType === "bulk_vessel" ? "VESSEL_NUMBER" : "CONTAINER_NUMBER")) }}:
			{{ data.container }}
		</p>
		<p class="type" *ngIf="!isAuth">
			{{ t("TRACKING.TYPE") }}:
			{{ t("OFFER." + (data.transportType === "bulk_vessel" ? "VESSEL_NUMBER" : "CONTAINER_NUMBER")) }}:
			{{ data.container | slice: 0:2 }}
			XXX XXX XXX
			<button
				b2bNgxButton
				[theme]="b2bNgxButtonThemeEnum.OUTLINE_BLACK"
				(click)="close()"
				routerLink="/auth/register-credentials"
				class="link">
				Show
			</button>
		</p>

		<p class="route">
			{{ t("TRACKING.FROM") }} {{ data.destination?.from }} {{ t("TRACKING.TO") }} {{ data.destination?.to }}
		</p>
		<p class="eta-to-destination" *ngIf="data.etaToPod && data.pod">
			ЕТА to {{ data.pod }}: {{ data?.etaToPod | date }}
		</p>
		<p class="client-profile-offer-eta" *ngIf="data.etaToTransitPort && data.pol">
			ЕТА to {{ data.pol }}: {{ data?.etaToTransitPort | date }}
		</p>

		<p class="description">
			{{ t("TRACKING.DESCRIPTION") }}
		</p>
	</div>
</div>
