<div *transloco="let t">
	<div class="security-data" [formGroup]="form">
		<input
			b2bNgxInput
			[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
			[label]="t('LABELS.EMAIL')"
			labelClass="auth-register-individual-account__main-input"
			formControlName="email"
			[placeholder]="t('PLACEHOLDERS.YOUR_EMAIL')" />
		<input
			b2bNgxInput
			[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
			type="password"
			autocomplete="new-password"
			[label]="t('LABELS.PASSWORD')"
			labelClass="auth-register-individual-account__main-input"
			formControlName="password"
			[placeholder]="t('PLACEHOLDERS.CREATE_PASSWORD')" />
		<!--    <p-->
		<!--      [@fadeInOut]-->
		<!--      class="auth-register-individual-account__main-input-error"-->
		<!--      *ngIf="formGroup.get('securityData').get('password').errors?.password">-->
		<!--      Create password  more than 8 symbols-->
		<!--    </p>-->
	</div>
	<button
		(click)="secondStep()"
		b2bNgxButton
		[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"
		[disabled]="isNextStepDisabled$ | async"
		class="auth-register-individual-account__create-account-button">
		{{ t("BUTTONS.NEXT_STEP") }}
	</button>
</div>
