<div *transloco="let t" class="popup">
	<ng-container *ngIf="messageSent; else recoveryForm">
		<h1>{{ t("AUTH.RECOVERY") }}</h1>
		<h2>
			{{ t("AUTH.CHECK") }}<button (click)="sendMessage(formControl)">{{ t("AUTH.RESEND") }}</button>
		</h2>
	</ng-container>

	<ng-template #recoveryForm>
		<h1>{{ t("AUTH.PASSWORD_RECOVERY") }}</h1>
		<h2>{{ t("AUTH.PASSWORD_RECOVERY_DESCRIPTION") }}</h2>

		<form errorTailor (ngSubmit)="sendMessage(formControl)">
			<input
				b2bNgxInput
				[placeholder]="t('PLACEHOLDERS.YOUR_EMAIL')"
				[formControl]="formControl"
				[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY" />

			<button b2bNgxButton type="submit" [theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">{{ t("AUTH.SEND") }}</button>
		</form>
	</ng-template>
</div>
