<div class="promotion" *transloco="let t" [class.mirror]="lang === 'ar'">
	<div class="promotion__header">
		<div class="promotion__header__wrapper">
			<div class="promotion__header__wrapper__info">
				<div class="promotion__header__wrapper__info__title">{{ t("MARKET_PROMO.PROMO_TITLE") }}</div>
				<h1
					class="promotion__header__wrapper__info__subtitle">{{ t("MARKET_PROMOTION.SUPPLIER_PROMOTION_PROGRAM") }}</h1>
				<div class="promotion__header__wrapper__info__text"
						 [innerHTML]="t('MARKET_PROMOTION.RAPIDLY_GROWING_INTERNATIONAL')">

				</div>
				<div class="promotion__header__wrapper__info__text" [innerHTML]="t('MARKET_PROMOTION.LAUNCHING_NEW_SERVICE')">
				</div>
				<div class="promotion__header__wrapper__info__text">
					{{ t("MARKET_PROMOTION.WITH_THIS_SERVICE") }}
				</div>

				<div class="promotion__header__wrapper__info__buttons">
					<button
						[routerLink]="
							(user$ | async) ? '/profile/your-workspace/b2bmarket' : '/auth/register-credentials'
						"
						b2bNgxButton
						[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE">
						{{ t("MARKET_PROMOTION.JOIN_US") }}
					</button>
					<button
						(click)="scrollToBlock(promotionSteps)"
						class="blue-button"
						b2bNgxButton
						[theme]="b2bNgxButtonThemeEnum.OUTLINE_BLUE">
						{{t("MARKET_PROMO.LEARN_MORE")}}
					</button>
				</div>
			</div>
			<img
				class="promotion__header__wrapper__image"
				b2bNgxImage
				name="market-promotion/promotion-label"
				imageExtension="jpeg"
				alt="logo"/>
		</div>
	</div>

	<div #promotionSteps class="promotion__steps">
		<div class="promotion__steps__wrapper">
			<div class="promotion__steps__wrapper__title">{{ t("MARKET_PROMOTION.SERVICE_WILL_BE_FREE") }}</div>
			<div class="promotion__steps__wrapper__free-until">{{ t("MARKET_PROMOTION.SERVICE_DATE") }}</div>
			<div class="promotion__steps__wrapper__subtext">{{ t("MARKET_PROMOTION.ALL_SPP") }}</div>
			<div class="promotion__steps__wrapper__subtitle">{{ t("MARKET_PROMOTION.PARTICIPATE_PROGRAM") }}</div>

			<div class="promotion__steps__wrapper__block">
				<div *ngFor="let step of getStepsToParticipateProgram()" class="promotion__steps__wrapper__block__item">
					<img b2bNgxIcon [name]="step.icon" class="promotion__steps__wrapper__block__item__image"/>
					<div class="promotion__steps__wrapper__block__item__title">{{t(step.text)}}</div>
				</div>
			</div>

			<div class="promotion__steps__wrapper__text">
				{{ t("MARKET_PROMOTION.AUTOMATICALLY_BECOME") }}
			</div>
			<button
				[routerLink]="(user$ | async) ? '/b2bmarket/product' : '/auth/register-credentials'"
				b2bNgxButton
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE"
				class="promotion__steps__wrapper__button">
				{{ t("MARKET_PROMO.APPLY_AS_SUPPLIER") }}
			</button>
		</div>
	</div>

	<div class="promotion__benefit">
		<div class="promotion__benefit__title">  {{ t("MARKET_PROMOTION.WILL_BENEFIT") }}</div>
		<div class="promotion__benefit__block">
			<div *ngFor="let benefit of getProgramBenefits()" class="promotion__benefit__block__item">
				<div
					[ngClass]="{ 'modified-block': benefit.backgroundColorIsWhite === true }"
					class="promotion__benefit__block__item__title" [innerHTML]=" t(benefit.title)">
				</div>
				<div class="promotion__benefit__block__item__text" [innerHTML]=" t(benefit.text)"></div>
			</div>
		</div>
	</div>

	<div class="promotion__aim">
		<div class="promotion__aim__wrapper">
			<div class="promotion__aim__wrapper__title"> {{ t("MARKET_PROMOTION.AIM_OUR_NEW_SERVICE") }}</div>
			<div class="promotion__aim__wrapper__text">
				{{ t("MARKET_PROMOTION.ATTRACT_MORE_COMPANIES") }}
			</div>
		</div>
	</div>

	<div class="promotion__feedback">
		<div class="promotion__feedback__wrapper">
			<div class="promotion__feedback__wrapper__title">
				{{ t("MARKET_PROMOTION.ANY_QUESTIONS") }}
		</div>
			<div class="promotion__feedback__wrapper__subtitle">
				{{ t("MARKET_PROMOTION.LEAVE_REQUEST") }}
			</div>
			<form [formGroup]="formGroup" (ngSubmit)="sendMessage(formGroup)" class="promotion__feedback__wrapper__form">
				<div class="control-wrapper">
					<input
						b2bNgxInput
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						[placeholder]="'John Doe'"
						formControlName="name"
						[label]="t('MARKET_PROMOTION.FULL_NAME')"
						labelClass="client-contact-us-form-input"/>
				</div>
				<div class="control-wrapper">
					<b2b-ngx-tel
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						class="client-contact-us-form-input"
						formControlName="phone"
					>{{ t("MARKET_PROMOTION.PHONE_NUMBER") }}
					</b2b-ngx-tel>
				</div>
				<div class="control-wrapper">
					<textarea
						b2bNgxTextarea
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						[placeholder]="t('MARKET_PROMOTION.MESSAGE')"
						formControlName="text"
						[label]="t('MARKET_PROMOTION.YOUR_COMMENT')"
						labelClass="client-contact-us-form-textarea"></textarea>
				</div>
				<button
					b2bNgxButton
					type="submit"
					class="client-contact-us-form-button"
					[theme]="b2bNgxButtonThemeEnum.OUTLINE_BLUE">
					{{ t("MARKET_PROMOTION.SEND") }}
				</button>
			</form>
		</div>
	</div>

	<div class="promotion__features">
		<div class="promotion__features__wrapper">
			<div class="promotion__features__wrapper__title">{{ t("MARKET_PROMOTION.COMING_SOON") }}</div>
			<div class="promotion__features__wrapper__subtitle">
				{{ t("MARKET_PROMOTION.FEATURES_WE_PLAN") }}
			</div>
			<div class="promotion__features__wrapper__block">
				<div *ngFor="let feature of getPromotionFeatures()" class="promotion__features__wrapper__block__item">
					<div class="title">{{ t( feature.title ) }}</div>
					<div class="description">{{  t( feature.description )}}</div>
					<div class="footer">
						<div class="release-date">{{  t( feature.releaseDate )}}</div>
						<img b2bNgxImage [name]="feature.photo" imageExtension="jpeg" alt="photo"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<b2b-write-to-support></b2b-write-to-support>
</div>
